<!DOCTYPE html>
<html>
<style>
    .text {
        text-align: center;
    }
    .main_image {
        display: block;
        width: 90%;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    .tile_image {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
</style>
<head>
    <title class="text">Most Recent Boards</title>
</head>
<body>
<div id="main_container" style="width: 90%; margin-left: auto; margin-right: auto">
    <h1 class="text">Most Recent Boards</h1>
   <table border="0" cellpadding="20" cellspacing="0" align="center" style="float: center">
       <tr>
           <td colspan="2" class="text"><h3>Current Board - "{{ current_question }}"</h3></td>
       <tr>
           <td colspan="2"><a href="/{{ current_img_path_big }}"><img src="/{{ current_img_path_sml }}" alt="current board" class="main_image"></a></td>
       </tr>
       {% for photo_pair in photos %}
            {%- if loop.last and is_odd %}
            <tr>
                <td class="text">{{ (photo_pair[0]).title}}</td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <a href="/{{ (photo_pair[0]).big_path }}">
                        <img src="/{{ (photo_pair[0]).small_path }}" alt="{{ (photo_pair[0]).title }}" class="tile_image">
                    </a>
                </td>
                <td></td>
            </tr>
            {%- else %}
            <tr> 
                <td class="text">{{ (photo_pair[0]).title }}</td>
                <td class="text">{{ (photo_pair[1]).title }}</td>
            </tr>
            <tr>
                <td>
                    <a href="/{{ (photo_pair[0]).big_path }}">
                        <img src="/{{ (photo_pair[0]).small_path }}" alt="{{ (photo_pair[0]).title }}" class="tile_image">
                    </a>
                </td>
                <td>
                    <a href="/{{ (photo_pair[1]).big_path }}">
                        <img src="/{{ (photo_pair[1]).small_path }}" alt="{{ (photo_pair[1]).title }}" class="tile_image">
                    </a>
                </td>
            </tr>
            {%- endif %}
       {% endfor %}
   </table>
</div>
</body>
</html>
