<!DOCTYPE html>
<html>
<head>
    <title>Most Recent Boards</title>
</head>
<body>
<div id="main_container" style="width: 90%">
   <table border="0" cellpadding="0" cellspacing="0" align="center">
       <tr>
           <td colspan="2"><h2>Current Board</h2></td>
       <tr>
           <td colspan="2"><img src="board.jpg" alt="current board" style="float: center; width: 75%; max-width: 1000px"></td>
       </tr>
       <tr>
           <td>Photo 1</td>
           <td>Photo 2</td>
       </tr>
       <tr>
           <td><img src="board.jpg" alt="photo 1" style="float: center; width: 90%"></td>
           <td><img src="board.jpg" alt="photo 2" style="float: center; width: 90%"></td>
       </tr>
   </table>
</div>
</body>
</html>
